#header {
	padding: 20px;
}

#register-container {
	width: 550px;
}

#register-panel {
	margin: 10px;
}

#register-panel .panel-body {
	padding: 23px;
}

.icon-form-group .form-control {
	padding: 6px 30px;
}

#register-panel .form-icon {
	position: absolute;
	top: 9px;
	left: 25px;
}

#register-panel input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
	-webkit-text-fill-color: #333;
}